@define-color bg #1e1e2e;
@define-color fg #cdd6f4;
@define-color gray1 #353748;
@define-color gray2 #7b8098;
@define-color gray3 #4d4f63;
@define-color gray4 #414356;
@define-color gray5 #585b70;
@define-color fg_bright #cdd6f4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}